.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 400px;
    max-width: 500px
}

.slide-right h2 {
    animation: 2s slide-right;
    animation-delay: 2s;
}

@keyframes slide-right {
    from {
        margin-left: -500px;
    }
    to {
        margin-left: 0%;
    }
}

.slide-right {
    width: 100%;
    overflow: hidden;
    margin-left: 400px;
    max-width: 500px
}

.slide-right h2 {
    animation: 2s slide-right;
    animation-delay: 2s;
}

@keyframes slide-right {
    from {
        margin-left: -500px;
    }
    to {
        margin-left: 0%;
    }
}